.myForm {
  .formBlock {
    padding: 26px;

    box-shadow: 0px 8px 40px 1px rgba(220, 210, 232, 0.8);
    border-radius: 4px 4px 4px 4px;
    .bar {
      text-align: right;
    }
    .content {
      .list {
        .item {
          display: flex;
          justify-content: center;
          :global {
            h1 {
              height: 42px;
              line-height: 42px;
              color: #646093;
              margin-right: 50px;
              text-align: right;
              width: 50%;
            }
            p {
              height: 42px;
              line-height: 42px;
              width: 50%;

              color: #2b265b;
            }
          }
        }
      }
    }
  }
}
