.registForm {
  :global {
    .ant-form-item {
      margin-bottom: 30px;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #fc896c;
      border-color: #fc896c;
    }
  }
}
