.registForm {
  :global {
    .ant-form-item {
      margin-bottom: 30px;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: #fc896c;
      border-color: #fc896c;
    }
    .ant-radio-wrapper {
      .ant-radio-checked {
        .ant-radio-inner {
          border-color: #fc896c;

          &::after {
            background: #fc896c;
          }
        }
      }
    }
  }
}
