.sider {
  width: 253px;
  min-height: 100vh;
  flex-shrink: 0;
  background: #ffffff;
  .logo {
    margin-left: 41px;
    display: flex;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 55px;
    .title {
      margin-left: 8px;
      h5 {
        font-size: 22px;
        color: #1e358b;
      }
      p {
        font-size: 14px;
        color: #6f7cab;
        margin-top: 8px;
      }
    }
  }
  .menuWrap {
    font-size: 16px;
    color: #030229;
    .menu {
      padding-left: 41px;
      cursor: pointer;
      height: 48px;
      line-height: 48px;
      transition: all 0.3s;
    }
    .menuItem {
      height: 48px;
      line-height: 48px;
      padding-left: 80px;
      cursor: pointer;
      transition: all 0.3s;
    }
    .activeMenu {
      color: #1e358b;
      background: linear-gradient(90deg, #5477f1 0%, rgba(10, 40, 146, 0) 18%);
      font-weight: bolder;
    }
  }
}
